.DropBox {
  width: 100%;
  height: 200px;
  border: 1px dashed black;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
  font-size: 80px;
}

.DropBox[drop-active=true] {
  border: 1px dashed dodgerblue;
}

.OpenActorBar {
  display: flex;
  flex-direction: row;
}