.Pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  .Contents {
    flex-grow: 1;
    overflow-y: auto;
  }
}

.LeftPane {
  @extend .Pane;
  flex: 0 0 220px;
  padding: 1rem;
  border-right: 1px solid var(--color-border-light-primary);
  font-size: var(--font-size-12);

  .StoredSellableList {
    display: flex;
    flex-direction: column;
    ul {
      flex-grow: 1;
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .IdentifiableSellableList {
    display: flex;
    flex-direction: column;

    .Title {
      display: flex;
      flex-direction: row;
    }

    .List {
      .Title {
        justify-content: space-between;
      }

      .Nesting {
        border-left: 1px saddlebrown solid;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.PaneContainer {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.MainPane {
  @extend .Pane;
  flex-grow: 1;
  border-right: 1px solid saddlebrown;
}

.RightPane {
  @extend .Pane;
}

.Filter {
  input {
    width: 300px
  }
}

.FilterSample {
  min-width: 350px;
}