.IconButton {
  font-size: 12px;
  text-align: center;
  padding: 0.2em;

  .disabled {
    color: #b5b3a4;
  }
}

.TwoClickClicked {
  color: red !important;

  .disabled {
    color: lightpink !important
  }
}