.GoldDisplay {

}

.Color {
  .cp {
    text-shadow: 1px 1px 2px #9d3a21;
  }

  .sp {
    text-shadow: 1px 1px 2px #7b879d;
  }

  .gp {
    text-shadow: 1px 1px 2px #b59700;
  }

  .pp {
    text-shadow: 1px 1px 2px #5ab5a1;
  }
}